* {
  font-family: 'Roboto', sans-serif;
  /* border: solid red 2px; */
  text-align: center;
  color: white;
}

input, button, select {
  color: black;
}

button {
  background-color: rgb(175, 178, 177);
  border-radius: 5px;
  border: none;
}

button:hover {
  background-color: rgb(60, 220, 167);
  border-radius: 5px;
}

body {
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.trip-card-image, img {
  height: 90%;
  width: 90%;
}

.logo {
  height: 10%;
  width: 10%;
}

.get-estimate-btn, .book-trip-btn, #formDate, #formDays, #formTravelers, #formDestinations {
  cursor: pointer;
}

.trips-container {
  display: flex;
  justify-content: space-around;
}

.column {
  width: 30%;
}

.traveler-name {
  font-size: 24px;
}

.trip-type {
  font-size: 18px;
  font-weight: bold;
}

h4, h5 {
  font-size: 20px;
  margin-bottom: 0;
}

h5 {
  margin-top: 70px;
}

.asterisk-statement {
  font-size: x-small;
}

.login-form {
  margin-top: 15%;
}

.error-message {
  color: white;
}

.money, .yearly-expense {
  color:rgb(115, 245, 202);
  font-weight: bold;
}

.hidden {
  display: none;
}